on boot
    setprop net.eth0.dns1 8.8.8.8
    setprop net.eth0.dns2 8.8.4.4
    setprop ro.build.product SPH-M910
    setprop ro.product.device SPH-M910
    setprop ro.radio.noril yes

    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 80
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 100000
    write /sys/devices/system/cpu/cpufreq/interactive/input_boost 1

service apollo-setup /system/etc/init.SPH-M910.sh
    oneshot
